.wrapper-document,
.navbar-document {
    width: 47vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper-document {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    margin-top: 30px;
    margin-bottom: 5px;
}

.navbar-document {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.map_content {
    margin: 0 auto;
}

#map_document {
    height: 600px;
    width: 96%;
}

.giprozem_logo,
.qr_code {
    width: auto;
    margin: 30px;
    height: 80px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.nav_right {
    display: flex;
    flex-direction: column;
}

.date_num {
    text-align: right;
    width: 96vw;
    padding-right: 30px;
}

.table {
    width: 100%;
}

.table_title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.table_data {
    margin: 30px;
}

table>tbody .land_address,
table>tbody .owner_info {
    padding-left: 10%;
}

.map_content {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#qrcode>img {
    width: 80px;
    height: 80px;
}

@media (max-width: 576px) {
    .giprozem_logo {
        height: 40px;
        margin: 15px;
    }

    .navbar-document {
        display: inline-block;
    }

    .title {
        text-align: center;
        display: block;
    }

    .table_data,
    .map_content,
    .wrapper-document,
    .navbar-document,
    .btn_wrap {
        width: 96vw;
    }

    .map_content {
        margin: 0;
    }

    .qr_code {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-document {
        position: relative;
    }
}